.card {
    margin: 16px auto;
}

.inner__card {
    padding: 16px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 250px;
    min-height: 400px;
}

.inner__card.front {
    background: #114B5F;
}

.inner__card.back {
    background: #1A936F;
}

.inner__card p {
    text-align: center;
}